<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Code-Mapper">

	<resultMap type="comGroup" id="comGroup">
		<result column="com_group_code" property="com_group_code"/>
		<result column="com_group_name" property="com_group_name"/>
		<collection property="comCodeVO" resultMap="comCode"></collection>
	</resultMap>
	
	<resultMap type="comCode" id="comCode">
		<result column="com_group_code" property="com_group_code"/>
		<result column="com_code" property="com_code"/>
		<result column="com_name" property="com_name"/>
	</resultMap>

	<select id="selectSupContCode" parameterType="str" resultType="str">
		select com_name from com_code a
 		where com_group_code = 
 		(select com_group_code from com_group b
                         where a.com_group_code = b.com_group_code)
  		and com_code=#{sup_contract_st}
	</select>
	
	
</mapper>