<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FrReturn-Mapper">

	<resultMap type="returnDetail" id="returnDetail">
		<result column="hq_goods_code" property="hq_goods_code" />
		<result column="return_code" property="return_code" />
		<result column="return_quan" property="return_quan" />
	</resultMap>
	
	<resultMap type="hqGoods" id="hqGoods">
		<result column="hq_goods_code" property="hq_goods_code" />
		<result column="sup_goods_code" property="sup_goods_code" />
		<result column="hq_goods_name" property="hq_goods_name" />
		<collection property="returnDetailVO" resultMap="returnDetail" />
	</resultMap>
	
	<resultMap type="supGoods" id="supGoods">
		<result column="sup_goods_code" property="sup_goods_code" />
		<result column="sup_goods_name" property="sup_goods_name" />
	</resultMap>
	
	<resultMap type="fran" id="fran">
		<result column="fran_name" property="fran_name" />
		<result column="fran_addr" property="fran_addr" />
	</resultMap>
	
	<resultMap type="return" id="return">
		<result column="return_code" property="return_code" />
		<result column="return_title" property="return_title" />
		<result column="return_reason_code" property="return_reason_code" />
		<result column="return_reason" property="return_reason" />
		<result column="return_check_st" property="return_check_st" />
		<result column="fran_code" property="fran_code" />
		<result column="return_st" property="return_st" />
		<result column="return_apply_date" property="return_apply_date" />
		<result column="return_reason_code" property="return_reason_code" />
		<result column="attach_no" property="attach_no" />
		<collection property="returnDetailVO" resultMap="returnDetail" />
		<collection property="hqGoodsVO" resultMap="hqGoods" />
		<collection property="supGoodsVO" resultMap="supGoods"/>	
		<collection property="franVO" resultMap="fran" />
	</resultMap>
	<!-- 가맹점반품신청 목록 -->
	<select id="selectFranReturnList"  resultMap="return">
		SELECT
		    i.return_code,
		    i.return_title,
		    i.return_reason_code,
		    i.return_apply_date,
		    i.return_check_st,
		    i.return_reason_code,
		    k.hq_goods_name,
		    j.return_quan,
		    i.attach_no
		FROM
		    return_detail j,
		    return i,
		    hq_goods k
		WHERE
		    i.return_code = j.return_code
		    AND   k.hq_goods_code = j.hq_goods_code
      <if test="keywordMap.keyword != null and keywordMap.keyword != ''">
      and k.hq_goods_name like '%'||#{keywordMap.keyword}||'%'
   	  </if>
		order by i.return_code desc
	</select>
	
	<select id="selectSearchReturnListCount" resultType="int">
		SELECT
		    count(*)
		FROM
		    return_detail j,
		    return i,
		    hq_goods k
		WHERE
		    i.return_code = j.return_code
		    AND   k.hq_goods_code = j.hq_goods_code
	</select>
	
	<select id="selectReturnDetail" parameterType="str" resultMap="return">
   		select 
		a.return_title,
		a.return_code,
		b.hq_goods_code, 
		c.hq_goods_name,
		b.return_quan,
		d.fran_name,
		d.fran_code,
		a.return_reason_code,
		a.return_reason
		
		from
		return a, return_detail b, hq_goods c, fran d
		where a.return_code  = b.return_code
		    and b.hq_goods_code = c.hq_goods_code
		    and d.fran_code = a.fran_code
		    and a.return_code = #{return_code}
	</select>
	
	<update id="updateReturnSt" parameterType="return">
		update 
		return
		set 
		return_st=#{return_st}
		where return_code=#{return_code}
	</update>
	<update id="insertFranReturn" parameterType="return">
		insert 
		into 
		return(
		RETURN_CODE,
		FRAN_CODE,
		RETURN_TITLE,
		RETURN_REASON_CODE,
		RETURN_REASON,
		ATTACH_NO
		)
		values
		('RE'||lpad(return_seq.nextval, 4, '0'), #{fran_code}, #{return_title}, #{return_reason_code}, #{return_reason}, attach_seq.nextval+1)
	</update>
	
	<update id="insertFranReturnDe" parameterType="returnDetail">
		INSERT INTO 
		RETURN_DETAIL (RETURN_CODE, HQ_GOODS_CODE, RETURN_QUAN)
		VALUES(#{return_code}, #{hq_goods_code}, #{return_quan})
	</update>
	
	<update id="updateFranReturn" parameterType="return">
		update return set return_title=#{return_title}, return_reason_code=#{return_reason_code}, return_reason=#{return_reason}, attach_no=#{attach_no}
		where return_code=#{return_code}
	</update>
	
	<update id="updateFranReturnDe" parameterType="returnDetail">
		update return_detail set HQ_GOODS_CODE=#{hq_goods_code}, RETURN_QUAN=#{return_quan}
		where return_code=#{return_code}
	</update>

	
	
	
<!-- 	<select id="selectGoodsList" parameterType="String" resultType="hqGoods"> -->
<!-- 		SELECT DISTINCT A.HQ_GOODS_NAME, A.HQ_GOODS_CODE -->
<!-- 		FROM HQ_GOODS A, RETURN_DETAIL B -->
<!-- 		WHERE A.HQ_GOODS_CODE = B.HQ_GOODS_CODE -->
<!-- 		AND A.HQ_GOODS_NAME LIKE '%'||#{GOODS_NAME}||'%' -->
<!-- 	</select> -->
	
	<select id="selectGoodsList" parameterType="String" resultType="hqGoods">
		SELECT DISTINCT A.HQ_GOODS_NAME, A.HQ_GOODS_CODE
		FROM HQ_GOODS A
		WHERE A.HQ_GOODS_NAME LIKE '%'||#{GOODS_NAME}||'%'
	</select>
	
	<select id="selectReturnSeqNext" resultType="int">
		select attach_seq.nextval as attach_no from dual
	</select>
	
	<select id="selectReturnSeqCurr" resultType="String">
		SELECT RETURN_CODE
		FROM(SELECT RETURN_CODE
		     FROM RETURN
		     ORDER BY RETURN_APPLY_DATE DESC)
		WHERE ROWNUM = 1
	</select>
	
	<update id="deleteFranReturn" parameterType="String">
		delete 
		from return 
		where return_code=#{return_code}
	</update>
	

</mapper>